
<footer class="footer">
  <div class="footer-container">
    <div class="footer-column">
      <h3>पक्षाविषयी</h3>
      <ul>
        <li>ध्येय-धोरणं</li>
        <li>प्रमुख भूमिका</li>
        <li>मुख्य कार्यकारिणी</li>
        <li>पक्षाचा इतिहास</li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>माध्यम</h3>
      <ul>
        <li>महत्त्वाची पत्रं</li>
        <!-- <li>ताज्या घडामोडी</li> -->
        <!-- <li>ई-ग्रंथालय</li> -->
        <li>संपर्क</li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>महत्त्वाचे दुवे</h3>
      <ul>
        <li>आम्ही काय केलं</li>
        <!-- <li>जागर मराठीचा</li> -->
        <!-- <li>दर्ज़ेदार जीवनमान</li> -->
        <li>संपर्क</li>
      </ul>
    </div>
    <div class="footer-column office">
      <h3>पक्षाचे नाव,<br />कार्यालयाचा पत्ता.</h3>
      <p>
        दुसरा मजला, मातोश्री टॉवर्स, पद्माबाई  मार्ग, ,<br />
        मुंबई, महाराष्ट्र, ४०००१६.
      </p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
  <hr />
  <div class="footer-bottom">
    © २०२5 सर्व हक्क आरक्षित.पक्षाचे नाव,, मध्यवर्ती कार्यालय.
    <div>
        <a href="https://psatechall.com/" target="_blank">PSA Tech द्वारा विकसित</a>
    </div>
  </div>
</footer>
